:root {
    --color-accent: #000000;
    --color-background: #002240;
    --color-lush: #ebde7b;
    --color-subtle: #c0d0ee;
    --typography-primary: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    --typography-secondary: Rubik, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  a {
    color: var(--color-lush);
  }

  body {
    background-color: var(--color-background);
    color: white;
    font-family: var(--typography-primary);
    margin: 0;
    padding: 32px;
  }

  div.project {
    border: 1px solid var(--color-subtle);
    border-radius: 4px;
    margin-bottom: 32px;
    padding: 16px;
  }

  div.project > div.link {
    text-align: right;
  }

  footer {
    margin-top: 64px;
  }

  footer > p {
    color: var(--color-subtle);
    font-family: monospace;
    font-size: 11px;
    margin-top: 0;
  }

  footer > p > a {
    color: currentColor;
  }

  h1 {
    color: var(--color-accent);
    font-family: var(--typography-secondary);
    
  }

  h2 {
    margin-bottom: 32px;
  }

  header {
    display: flex;
    margin-bottom: 32px;
  }

  main {
    margin: 0 auto;
    max-width: 900px;
  }

  nav {
    margin-left: auto;
  }

  nav > a {
    font-family: var(--typography-secondary);
    margin-right: 4px;
  }

  nav > a:last-of-type {
    margin-right: 0;
  }

  p {
    line-height: 1.4;
  }

  section#about {
    display: flex;
    margin-bottom: 64px;
  }

  section#about > .about-text {
    max-width: 600px;
  }

  @media screen and (min-width: 480px) {
    section#about > .about-text {
      margin-right: 32px;
    }
  }

  section#about > .about-face {
    margin-left: auto;
  }

  section#about > .about-face > img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: none;
  }

  @media screen and (min-width: 480px) {
    section#about > .about-face > img {
      display: initial;
    }
  }

  section#work {
    max-width: 600px;
    margin-bottom: 64px;
  }

  svg.level-out {
    height: 28px;
    width: 32px;
  }

  svg.logo {
    height: 60px;
    width: 60px;
  }

 section#Skils{
  margin-bottom: 64px;
 }

 section#Experience{
  margin-bottom: 64px;
 }

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}